mixin video(video)
    div.video-mixin
        a(href=`/videos/${video._id}` style=`background-image:url(${video.thumbUrl})`).video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title
                a(href=`/videos/${video._id}`)=video.title
            div.video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} #{video.meta.views > 1 ? "views" : "view" }
