extends base.pug

block content 
    div#videoContainer(data-id=video._id)
        video(playsinline)
            source(src=video.fileUrl type="video/mp4")
            source(src=video.fileUrl type="video/ogg")
        div#videoControls
            div#play
                i.fa-solid.fa-play
            div#cur-total-div
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            div#timeline-div
                input(type="range" step="1" min="0" value="0")#timeline
            div#volume-div
                input(type="range" step="any" min="0" max="1" value="0.5")#volume
            div#mute
                i.fa-solid.fa-volume-high
            div#fullScreen
                i.fa-solid.fa-expand

    div.video__data
        div.video__hashtags
            each hashtag in video.hashtags
                span #{hashtag} 
        span.video__title=video.title
        div.main-info__and__owner-btn
            div.video__main-info
                span #{video.meta.views + (video.meta.views>1?" views":" view")} 
                span ·
                span #{`${video.createdAt.getFullYear()}.`}
                    | #{`${video.createdAt.getMonth()+1}.`}
                    | #{`${video.createdAt.getDate()}.`}
            div.owner-btn
                if String(video.owner._id) === String(loggedInUser._id)
                    a(href=`${video.id}/edit`).edit-btn
                        i.fa-regular.fa-pen-to-square
                        span EDIT
                        //- `${video.id}/delete`
                    div(data-id=video._id).delete-btn
                        div.delete-btn-area
                            i.fa-regular.fa-trash-can
                            span DELETE
                        div.delete-btn-extend.display-none
                            a(href=`${video.id}/delete`).delete-confirm-btn Confirm
                            span.delete-cancel-btn Cancel
        div.bar

        div.video__detail-info
            img(src=video.owner.avatarUrl).user__avatar
            div.name_and_description
                a(href=`/users/${video.owner._id}`).user__name #{video.owner.name}
                span.video__description=video.description
        div.bar 

    if loggedIn
        div.video__add-comments
            form.video__add-comment-form#commentForm
                textarea(placeholder="Write a nice comment..." rows="1")
                button Add
    div.video__comments
        ul.video__comments-list 
            each comment in video.comments.reverse()
                li(data-id=comment._id).video__comment
                    img(src=comment.owner.avatarUrl).video__comment__avatar
                    div.video__comment__info
                        a(href=`/users/${comment.owner._id}`).video__comment__name #{comment.owner.name}
                        span.video__comment__text #{comment.text}
                    if String(loggedInUser._id) === String(comment.owner._id)
                        i.fa-regular.fa-trash-can.deleteBtn
                    else 
                        i.noneBtn

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
    if String(video.owner._id) === String(loggedInUser._id)
        script(src="/static/js/deleteVideo.js") 
