extends base.pug

block content 
    div#videoContainer(data-id=video._id)
        video(playsinline)
            source(src=video.fileUrl type="video/mp4")
            source(src=video.fileUrl type="video/ogg")
        div#videoControls
            div#play
                i.fa-solid.fa-play
            div#cur-total-div
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            div#timeline-div
                input(type="range" step="1" min="0" value="0")#timeline
            div#volume-div
                input(type="range" step="any" min="0" max="1" value="0.5")#volume
            div#mute
                i.fa-solid.fa-volume-high
            div#fullScreen
                i.fa-solid.fa-expand

    p=video.title
    div 
        small Upload by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
    small=video.createdAt 
    hr
    div
        p=video.description
    hr
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
    script(src="/static/js/videoPlayer.js")